<div class="container">
    <div class="box">
        <h1>Post Layout</h1>
        <div class="primary">{{{title}}}</div>
        <div class="content">{{{content}}}</div>
        <div class="secondary">Category Id: {{{categoryId}}}</div>
        <div class="secondary">Post with id: {{{$loki}}}</div>
    </div>
</div>
