<h1>List of posts</h1>

{{#if posts}}

<div class="container">
    {{#each posts}}
    <div class="box">
        <div class="primary">{{{this.title}}}</div>
        <div class="content">{{{this.body}}}</div>
        <div class="secondary">Post with id: {{{this.id}}}</div>
        <div class="secondary">User Id: {{{this.userId}}}</div>
    </div>
    {{/each}}
</div>

{{/if}}
