<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
    <title>Node js Handlebars</title>
</head>

<body>
    {{{body}}}
</body>

<script>
    const createPostRequest = (e) => {
        e.preventDefault();
        // @ts-ignore
        const meta = new FormData(e.target);
        const entries = Array.from(meta);
        const data = Object.fromEntries(entries);

        fetch('http://{{HOST}}:{{PORT}}/post/new', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(res => {
            if (res.redirected) {
                window.location.href = res.url
            }
        });
    };
</script>

</html>
